<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <p> Hi <%= @customer.name %>,<br><br>
   The issue your ticket, <%= @ticket.name %>, is associated to has just received an update. <br/></p>

	<p><%= @issue_update %> </p>
	
	<p> To respond, simply reply to this e-mail.</p>

  </body>
</html>