<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <p> Hi <%= @customer.name %>,<br><br>
   Your ticket, <%= @ticket.name %> has just received a response. <br/></p>

	<p><%= @ticket_response %> </p>
	
	<p> To respond, simply reply to this e-mail.</p>

  </body>
</html>