<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <p> Hi <%= @customer.name %>,<br><br>
   Your ticket, <%= @ticket.name %> has been marked as closed. <br/></p>
	
	<p> To re-open this ticket, simply respond to this e-mail.</p>

  </body>
</html>